h1{
    color: red;
}
h2{
    color: rgb(33, 9, 168);
}
button{
    background-color: aqua;
    color: rgb(208, 20, 104);
}
 
body{
    background-color: rgb(84, 68, 97);
    background-color: rgb(32, 6, 54);
    background-color: rgb(255,255,0);
    background-color: rgb(255,0, 255);
    background-color: rgb(176, 66, 245);
    background-color: #ffff00;
    background-color: #ff00ff;
    background-color: #00ffff;
    background-color: #753670;
}
#headingOne{
    color: burlywood;
}